@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* > * {
    font-family: "Poppins", cursive;
    margin: 0;
}

body{
  background: #ffffff;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #ffffff, #ffffff, #ffffff);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #ffffff, #ffffff, #ffffff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* .App {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
} */
.App {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.container {
  margin: 20px 0;
}

.text-center {
  margin-top: 15px;
  margin-bottom: 15px;
}

.register{
  max-width: 700px;
  width: 100vw;
  display:flex;
  border: 1px solid #e9ecef;
  border-radius: 5px;
  /* box-shadow: 1px 3px 10px #e9ecef; */
  background-color: white;
}

.register span{
  color: #adb5bd;
}

#form{
  max-width: 320px;
  width: 100vw;
  margin: 2em auto;
}

#form >  input, .btn{
  border: 1px solid #e9ecef;
  padding: .9em 1em;
}

#form > input:focus{
  outline: none;
}

#form > .btn{
  background-color: #176907;
  color: #e9ecef;
  font-size: 1em;
  cursor: pointer;
}

.flex{
  display: flex;
  gap: 1em;
}

.flex-col{
  flex-direction: column;
}

.register .col-1{
  margin: auto;
  padding: 0 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* styles.css */
.custom-button {
  background-color: #34A853; /* Set the background color to green */
  color: white; /* Set the text color to white */
  margin-left: 20px; /* Adjust the left margin to move the button to the right */
  margin-top: 10px; /* Adjust the top margin to move the button down */
}

.register .col-2 img{
  width: 620px;
  height: 100%;
  object-fit: cover;
  align-self: flex;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  display: none;
}

@media screen and (min-width: 860px)  {
  .register .col-2 img{
    display: initial;
  }
}

/* SIDEBAR */
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 15%; /* Adjust the width to make the buttons wider */
  height: 100%;
  background: #083D03;
  color: #fff;
  padding: 10px;
}

.sidebar a {
  display: flex; /* Display the icon and text in a row */
  align-items: center; /* Center the content vertically */
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  color: #fff;
  border-radius: 8px;
}

.sidebar a .fa-icon {
  margin-right: 8px; /* Increase the margin for more space */
}

.content {
  padding-left: 12%; /* Adjust this value to match the width of your sidebar */
}

.sidebar a.active {
  background-color: #00c853;
}

/* Icons style */
.sidebar a .fa-icon {
  width: 30px; /* Adjust the icon's width */
  font-size: 1.5em; /* Adjust the icon's size */
}

/* PRODUCT BOX */
.product-box {
  height: 300px;
  width: 250px;
  border: 1px solid #ddd;
  margin: 0px 0px 20px 10px;
  text-align: center;
  color: black;
}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }

.product-box img {
  width: 80%;
  margin: 15px;
}
/* END PRODUCT BOX */

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid */
  /* gap: 10px; */
}

/* BUTTONS */
.product-details-buttons {
  display: flex;
  justify-content: space-between;
}

.detail-img {
  width: 35%;
}

.from-detail-img {
  text-align: center;
}

.instruction {
  white-space: nowrap; /* Prevent text from wrapping */
}
